node_modules/
dist/
.env
.env.local
.env.*.local

# Firebase
.firebase/
firebase-debug.log

# pnpm
.pnpm-store/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
